<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mjh.rxexam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RxExam"
        tools:targetApi="31">
        <activity
            android:name=".rx.RxMainOneActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".compose.BioActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".compose.BioOneActivity"
            android:exported="false"
            android:label="@string/title_activity_bio_one"
            android:theme="@style/Theme.RxExam" />
        <activity
            android:name=".compose.JcListViewActivity"
            android:exported="true"
            android:label="@string/title_activity_jc_list_view"
            android:theme="@style/Theme.RxExam"></activity>
        <activity
            android:name=".compose.JcMainActivity"
            android:exported="true"
            android:label="@string/title_activity_jc_main"
            android:theme="@style/Theme.RxExam" >

        </activity>
        <activity
            android:name=".fcm.FcmMainActivity"
            android:exported="true" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="test_fcm" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_launcher_background" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/material_dynamic_neutral_variant50" />
        </service>

        <activity
            android:name=".hilt.HiltMainActivity"
            android:exported="true" />
        <activity
            android:name=".rx.CalculateActivity"
            android:exported="true" />
        <activity
            android:name=".rx.BasicRxActivity"
            android:exported="true" />
        <activity
            android:name=".rx.MainRxSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>