<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjh.inflean_kotlin">
<uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inflean_kotlin">

        <activity
            android:name="com.mjh.inflean_kotlin.p2_act.intent.MainActActionActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mjh.inflean_kotlin.p2_act.intent.MainActIntentFilterActivity"
            android:exported="false" />
        <activity
            android:name="com.mjh.inflean_kotlin.p2_act.intent.MainActIntentDataSecondActivity"
            android:exported="false" />
        <activity
            android:name="com.mjh.inflean_kotlin.p2_act.intent.MainActIntentDataActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.mjh.inflean_kotlin.p2_act.intent.MainActIntentSecondActivity"
            android:exported="false" />
        <activity
            android:name="com.mjh.inflean_kotlin.p2_act.intent.MainActIntentActivity"
            android:exported="true" />
        <activity
            android:name=".p2_act.lifeCycle.MainActLifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>