<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjh.inflean_kotlin">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inflean_kotlin">
        <activity
            android:name=".p4_thread.MainTnsThreadHandlerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".p4_thread.MainTnsThreadActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".p3_msg.notification.MainMsgPendingIntentActivity"
            android:exported="false" />
        <activity
            android:name=".p3_msg.notification.MainMsgNotificationActivity"
            android:exported="true"></activity>
        <activity
            android:name=".p3_msg.dialog.MainMsgSelectionDialogActivity"
            android:exported="true" />
        <activity
            android:name=".p3_msg.dialog.MainMsgListDialogActivity"
            android:exported="true" />
        <activity
            android:name=".p3_msg.dialog.MainMsgDialogActivity"
            android:exported="true" />
        <activity
            android:name=".p3_msg.MainMsgToastSnackBarActivity"
            android:exported="true" />
        <activity
            android:name=".p1_menu.MainPopupMenuActivity"
            android:exported="true" />
        <activity
            android:name=".p1_menu.MainContextMenuActivity"
            android:exported="true" />
        <activity
            android:name=".p1_menu.MainPermissionOptionMenuActivity"
            android:exported="true" />
        <activity
            android:name=".p2_act.lifeCycle.MainActLifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".p2_act.intent.MainActActionActivity"
            android:exported="true" />
        <activity
            android:name=".p2_act.intent.MainActIntentFilterActivity"
            android:exported="false" />
        <activity
            android:name=".p2_act.intent.MainActIntentDataSecondActivity"
            android:exported="false" />
        <activity
            android:name=".p2_act.intent.MainActIntentDataActivity"
            android:exported="true" />
        <activity
            android:name=".p2_act.intent.MainActIntentSecondActivity"
            android:exported="false" />
        <activity
            android:name=".p2_act.intent.MainActIntentActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>